{% extends "admin/layout.html" %}

{% block content %}
  <div class="page-header">
    <h1>
      Edit School
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        overview &amp; stats
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->
      <div class="row">
        <div class="col-xs-12">

          <!-- QUICK CREATE -->
          <form class="form-inline" id="quick-create-form" method="POST">
            <input type="hidden" name="csrf_name" value="{{ csrfName }}">
            <input type="hidden" name="csrf_value" value="{{ csrfValue }}">

            <input name="name" type="text" class="input" placeholder="Name" value="{{ entry.name }}" />
            <input name="slug" type="text" class="input" placeholder="Name" value="{{ entry.slug }}" />

            <ul id="selected-places" class="inline-list"></ul>

            <button type="submit" class="btn btn-info btn-sm">
              <i class="ace-icon fa fa-key bigger-110"></i>Update
            </button>
          </form>

          <form id="placeSearchForm">
            <fieldset>
              <legend>Search place</legend>
              <div class="col-md-12 form-group">
                <input id="search-place" class="form-control" placeholder="Enter place name" name="name" type="name" value="">
              </div>
            </fieldset>

            <div class="col-md-12 form-group">
              <ul id="list-places" class="list "></ul>
            </div>
          </form>

        </div><!-- /.span -->
      </div><!-- /.row -->

      <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
  </div><!-- /.row -->
{% endblock %}

{% block custom_js %}
<script src="/assets/common/js/jquery.quicksearch.js"></script>
<script src="/assets/common/js/ajaxsearch.js"></script>

<script>
  $(document).ready(function() {
    $('.show-details-btn').on('click', function(e) {
      e.preventDefault();
      $(this).closest('tr').next().toggleClass('open');
      $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
    });

    $('.quick-edit-form').on('submit', function(e) {
      e.preventDefault();
      var form = $(e.target);
      var pid = form.data('pid');
      $.post(form.attr('action'), form.serialize(), data => {
        console.log('#thumb-' + pid, $('#thumb-' + pid), data.image_url);
        $('#thumb-' + pid).attr('src', data.image_url);
      }, 'json');


    });

    ajaxSearch( 'search-place', 'list-places', '/search/places', true, function($item, input, list, state) {
      var id = $item.data('id');
      var name = $item.html();
      state.selectedPlaces.append('<li data-id="' + id + '"><input type="checkbox" name="places[' + id + ']" checked="checked"> ' + name + ' - ' + id + '</span></li>');
    }, { selectedPlaces: $( '#selected-places' ) } );

  });
</script>
{% endblock %}