{% extends "app.html.twig" %}

{% block styles %}
<style>
ul.inline-list {
  padding: 14px;
}
ul.inline-list li {
  display: inline;
  margin-left: 2px;
}
ul.list {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px;
}
ul.list li {
  list-style-type: none;
  padding: 1px 0 1px 4px;
}
ul.list li:hover {
  background-color: #ccc;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="panel-wrapper row">
    <div class="col-md-10 col-md-offset-1">
      <div class="login-panel panel panel-default">
        <div class="panel-body">

          <section class="search-form row">
            <div class="col-md-6">
              <form action="/cities" method="GET" role="form" id="citySearchForm">
                <!-- <input type="hidden" name="csrf_name" value="{{ csrfName }}">
                <input type="hidden" name="csrf_value" value="{{ csrfValue }}"> -->

                <fieldset>
                  <legend>Search city</legend>
                  <div class="col-md-12 form-group">
                    <input id="search-city" class="form-control" placeholder="Enter city name" name="name" type="name" value="">
                  </div>
                </fieldset>

                <div class="col-md-12 form-group">
                  <ul id="list-cities" class="list hidden"></ul>
                </div>
              </form>
            </div>

            <div class="col-md-6">
              <form action="/styles" method="GET" role="form" id="styleSearchForm">
                <!-- <input type="hidden" name="csrf_name" value="{{ csrfName }}">
                <input type="hidden" name="csrf_value" value="{{ csrfValue }}"> -->

                <fieldset>
                  <legend>Search style</legend>
                  <div class="col-md-12 form-group">
                    <input id="search-style" class="form-control" placeholder="Enter style" name="name" type="name" value="">
                  </div>
                </fieldset>

                <ul id="selected-styles" class="inline-list"></ul>

                <div class="col-md-12 form-group">
                  <ul id="list-styles" class="list "></ul>
                </div>
              </form>
            </div>
          </section>

        </div> <!-- .panel-body -->
      </div> <!-- .panel -->
    </div> <!-- .col-md-10 -->
  </div> <!-- .panel-wrapper -->
</div> <!-- .container -->

{% endblock %}

{% block scripts %}
<script src="/assets/front/jquery.quicksearch.js"></script>
<script>
function ajaxSearch( _inputId, _listId, _searchWhat, _searchOnStart, _selectCallback, _state ) {
  (function( inputId, listId, searchWhat, searchOnStart, selectCallback, state ) {
    var input = $('#' + inputId);
    var list = $('#' + listId);
    var qs = input.quicksearch('ul#' + listId + ' li');

    function bindListItemEvents() {
      list.find('li').click( function(e) {
        console.log(e);
        selectCallback( $(e.target), input, list, state );
      } );
    }

    function fireAjaxSearch(searchTerm) {
      searchTerm = searchTerm !== undefined ? searchTerm : '';
      $.ajax({
        'url': '/search/' + searchWhat + '?s=' + searchTerm,
        'type': 'GET',
        'dataType': 'json',
        'success': function (data) {
          list.removeClass('hidden');
          list.find('li').remove();
          for (i in data['items']) {
              var item = data['items'][i];
              list.append('<li data-id="' + item['id'] + '">' + item['name'] + '</li>');
          }
          bindListItemEvents();
          qs.cache();
        }
      });
    }
      
    input.on('input', function() {
      fireAjaxSearch( input.val() );
    });

    if( searchOnStart ) {
      fireAjaxSearch();
    }
  })( _inputId, _listId, _searchWhat, _searchOnStart, _selectCallback, _state );
}


$(document).ready( function() {
    // input = $('input#search-city');
    // list = $('ul#list-cities');
    // input.on('click', function() {
    //     if( input.attr('readonly') === 'readonly' ) {
    //         input.attr('readonly', false);
    //         input.val('');
    //         input.trigger('input');
    //         state.cityChosen = null;
    //     }
    // });
    ajaxSearch( 'search-city', 'list-cities', 'cities', false, function($item, input, list, state) {
      // var $item = $(this);
      state.cityChosen = $item.data('id');
      console.log(state);
      input.val($item.html()).attr('readonly', 'readonly');
      list.addClass('hidden');
    }, {
      cityChosen: null
    });

    ajaxSearch( 'search-style', 'list-styles', 'styles', true, function($item, input, list, state) {
      console.log($item, input, list, state);
      // var $item = $(this);
      // console.log($item);
      var id = $item.data('id');
      var name = $item.html();
      console.log(id, name);
      state.selectedStyles.append('<li data-id="' + id + '"><span class="label label-primary">' + name + '</span></li>');
      // state.selectedStyles.append('<li>toto</li>');
    }, { selectedStyles: $( '#selected-styles' ) } );

});

</script>
{% endblock %}